/* Main Content */
.about-message {
  color: var(--color-beige);
  margin-top: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.about-message h1 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 3rem;
  color: var(--color-beige);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 90%; 
  margin: 20px auto;
  color: var(--color-beige);
  font-family: Roboto, sans-serif;
}

.story-section,
.team-section,
.vision-section {
  margin-bottom: 20px;
}

.story-section h2,
.story-section h3,
.team-section h3,
.vision-section h3 {
  font-family: Source Serif 4, sans-serif;
  color: var(--color-beige);
}

/* Team Section */
.team-section {
  padding: 15px;
  border-radius: 10px;
}

.team-members {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.team-card {
  background-color: var(--color-beige);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%; 
  margin: 10px 0;
  text-align: center;
  padding: 15px; 
}

.team-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-description {
  font-size: 0.8rem; 
  color: var(--color-button);
  font-family: Roboto, sans-serif;
}

.meet-the-team-section {
  padding: 15px; 
  font-family: Roboto, sans-serif;
}

.vision-section {
  padding: 15px;
  font-family: Roboto, sans-serif;

}

/* Responsiv design för mobil */
@media (max-width: 768px) {
  .content {
    width: 90%;
    margin: 10px auto; 
    padding: 15px;
  }

  .team-members {
    flex-direction: column; 
  }

  .team-card {
    width: 100%;
    margin: 10px 0;
  }

  .team-photo {
    width: 70px;
    height: 70px;
  }

  .vision-section {
    padding: 10px;
  }

  .story-section,
  .team-section,
  .vision-section {
    margin-bottom: 20px;
  }
}
