/* Grundläggande styling för själva containern */
.create-container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.create-back-button-container {
  padding: 20px 0 0 20px;
}

.create-back-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #FFEAC9;
}

.create-back-button:hover {
  text-decoration: underline;
}

.create-menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFEAC9;
}


/* Skapa en horisontell layout för orderitems */
.create-items-container {
  display: flex; 
  justify-content: center;
  gap: 4rem; 
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.create-order-item {
  padding: 10px;
  background-color: #FFEAC9;
  border-radius: 8px;
}

.create-item-details {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.create-item-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* För att inte förvränga bilden */
    padding: 1rem;
}

.create-item-info {
  margin: 0;
  padding: 0;
  color: #000000;
  display: flex; 
  justify-content: center;  
  flex-direction: column;
  text-align: center;
}



.create-item-info h3 {
  margin: 0;
}
.create-item-info p {
  margin: 5px;
}

.create-item-info h2 {
  margin: 0;
  padding-top: 20px;
  font-size: 3rem;
  color: #FFEAC9;
}



.create-item-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.create-add-button,
.create-remove-button {
  background-color: #0881A3;
  border: none;
  outline: none;
  padding: 1rem;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  margin: 0;

}

.create-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  color: #FFEAC9;
  font-size: 30px;
  gap: 1rem;              
}

.create-input-group {
  display: flex;
  flex-direction: row;   
  gap: 4rem;              
  justify-content: center; 
}

.name-input label,
.number-input label {
  font-weight: bold;      
  color: #0881A3;        
  margin-bottom: 5px;     
  display: block;  
  font-size: 15px; 
  display: flex;
}


.name-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;  

}

.number-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.review-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}



.create-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.create-form input:focus {
  outline: none;
  border-color: #007bff;
}

.review-button button {
  padding: 12px 20px;
  background-color: #0881A3;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 250px;
  margin-bottom: 30px;
}

.review-button button:hover {
  background-color: #076b85;
} 

/* För ännu mindre skärmar, t.ex. 320px */
@media (max-width: 430px) {
  .create-form {
    font-size: 18px; /* Ytterligare minskning av fontstorlek för mycket små skärmar */
  }

  .create-add-button,
  .create-remove-button {
    width: 50px;

  }
  .create-input-group {
    width: 300px;
    gap: 1rem;
  }

  .name-input, .number-input {
    width: 100%; /* 100% bredd för input-fälten */
  }

  .review-button button {
    padding: 12px 0;
    font-size: 1rem; /* Mindre fontstorlek för knappen */
  }
}