/* Styling for DeleteOrder component */
.delete-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #FFEAC9;
}

.delete-order-message {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  font-size: 10px;
}

.Delete-order-button {
  background-color: rgb(220, 43, 43);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-size: 15px;
}

.Delete-order-button:hover {
  background-color: #9e0d03;
}
