body {
  font-family: 'Source Serif 4', sans-serif;

}
.footer {
  background-color: #333;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  flex-shrink: 0;
}

address {
  font-family: Roboto, sans-serif;
  line-height: 1.8;
  font-size: 1rem;
  color: var(--color-beige); 
  margin-right: 30px;
}

.social-icons {
  display: flex;
  gap: 15px; 
  margin-right: 50px;
}

.social-icon {
  color: white;
  text-decoration: none;
  font-size: 2rem; 
  padding: 12px;
  transition: transform 0.3s ease, 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.3); 
}

.social-icon1 {
  color: #4267B2; 
}

.social-icon2 {
  color: #E1306C;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  address {
    margin: 0 0 0 30px;
  }
  .social-icon {
    font-size: 1.5rem;  /* Minska storleken på ikonerna på små skärmar */
    padding: 8px;
  }
}
