body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tagline1 {
    font-family: Source Serif 4, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-beige);
    text-align: center;
    top: -240px;
    left: 400px;
    z-index: 2;
    position: relative;
    transform: rotate(15deg);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    position: relative;
    top: -130px;
    z-index: 1;
}

button .btn__container, .account-btn, .login-btn {
    text-align: center;
    background-color: var(--color-beige);
    color: var(--color-blue);
    font-size: var(--font-size-small-button);
    font-family: Roboto;
    border-radius: 5px;
    padding: 3px;
    border-style: none;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    font-weight: 400;
    text-transform: uppercase;
    width: 140px;
    height: 30px;
    letter-spacing: 1px;
  }

.tagline2 {
    font-family: Source Serif 4, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-beige);
    z-index: 2;
    position: relative;
    top: -50px;
    right: 100px;
    transform: rotate(-10deg);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.takeaway-btn {
    text-align: center;
    background-color: var(--color-button);
    color: var(--color-beige);
    font-size: var(--font-size-medium-button);
    font-family: Roboto;
    border-radius: 5px;
    padding: 3px;
    border-style: none;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    font-weight: 400;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    letter-spacing: 1px;
    position: relative;
    top: -50px;
    
}

.icon {
    color: var(--color-beige);
    position: relative;
    top: -80px;
    left: 70px;
    transform: rotate(-20deg);
    font-size: 2rem;
    z-index: 2;
}

.months-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
}

.months-favorites h2 {
    font-family: Source Serif 4, sans-serif;
    color: var(--color-beige);
    font-size: 2.5rem;
    z-index: 2;
    position: relative;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.months-favorites p {
    font-family: Roboto;
    color: var(--color-beige);
    z-index: 2;
    position: relative;
    bottom: 10px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-items {
    display: flex;
    gap: 30px;
    width: 100%;
    position: relative;
    top: 30px;
}

.menu-items img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menu-items img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tagline3 {
    font-family: Source Serif 4, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    top: -110px;
    color: var(--color-beige);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-btn {
    text-align: center;
    background-color: var(--color-button);
    color: var(--color-beige);
    font-size: var(--font-size-medium-button);
    font-family: Source Serif 4, sans-serif;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    width: 280px;
    height: 70px;
    letter-spacing: 1px;
    position: relative;
    top: -100px;
}

.image-container {
    position: relative;
    align-items: center;
    width: 100%;
    top: 50px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.6;
}

.cta-section {
    z-index: 2;
    position: relative;
    top: 180px;
}

.reviews {
    top: 500px;
    z-index: 2;
    position: relative;
    text-align: center;
}

.reviews h1 {
    font-family: Source Serif 4, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-beige);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.reviews h3 {
    font-family: Source Serif 4, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-beige);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 20px;
}

.reviews-slider {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.review-card {
  background-color: var(--color-beige);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  width: 230px;
  text-align: center;
  flex-shrink: 0;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-beige);
}

.left-arrow {
  position: absolute;
  left: -50px;
}

.right-arrow {
  position: absolute;
  right: -50px;
}

.stars {
  font-size: 1.5rem;
  color: gold;
}
  
@media screen and (max-width: 768px) {

    .tagline1 {
        font-size: 1.6rem;
        margin: -270px 10px 150px auto;
        transform: rotate(10deg);
    }

    .btn__container {
        width: 80%;
        margin: 20px auto;
        justify-content: center;
        gap: 20px;
    }

    .tagline2 {
        font-size: 1.6rem;
        margin: 50px auto 20px 50px;
        transform: rotate(-10deg);
    }

    .takeaway-btn {
        width: 150px;
        height: 40px;
        font-size: 1rem;
        margin-bottom: -10px;
    }

    .icon {
        margin: -15px 0 -20px 130px;
        font-size: 1.5rem;
    }

    .cta-section {
        z-index: 2;
    }

    .tagline3 {
        position: relative;
        top: 20px;
        text-align: center;
        font-size: 2.5rem;
    }

    .menu-btn {
        position: relative;
        top: 30px;
        width: 240px;
        height: 60px;
        font-size: 0.9rem;
    }

    .image-container {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .btn__container {
        width: 80%;
        margin: 20px auto;
        justify-content: center;
    }

    .menu-items {
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto -20px auto;
    }
  .reviews-container {
    gap: 10px;
  }

  .review-card {
    width: 200px;
  }

  .stars {
    font-size: 1rem;
  }
  
}
