/* Styling för glutenfri text */
.gluten-free {
  color: green; /* Grön text */
  font-weight: bold; /* Fetstil för att framhäva ordet */
}

/* Styling för laktosfri text */
.lactose-free {
  color: rgb(160, 10, 10); /* Röd text */
  font-weight: bold; /* Fetstil för att framhäva ordet */
}

/* För sorteringscontainer */
.menu-sort-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px; 
  margin-bottom: 20px; 
  font-family: 'Arial', sans-serif; 
  margin: 20px auto; /* Ger en top-marginal och centrering horisontellt */
  position: relative; 
}

/* Label styling */
.menu-sort-label {
  font-size: 16px;
  font-weight: 600; /* För att göra texten lite tjockare */
  
}

/* Styling för select elementet */
.menu-sort-container select {
  padding: 4px 4px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px; /* Rundade hörn */
  background-color: #f3dfbb;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease; /* Lägger till en smidig övergång vid hover */
}


.menu-cart-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.menu-cart-icon {
  background-color: transparent;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  margin: 0;

}

.menu-header h1 {
  margin: 0;  
  text-align: center; 
  color: #FFEAC9;
  margin-bottom: 30px;
  font-size: 30px;
}
.menu-header h2 {
  margin: 0;  
  text-align: center; 
  color: #FFEAC9;
  margin-bottom: 30px;
  font-size: 20px;
}

/* För etiketten */
.menu-sort-container label {
  font-size: 16px; 
  margin-right: 8px; /* Gör lite utrymme mellan etikett och select */
  color: #FFEAC9; 
}


.hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Ger en top-marginal och centrering horisontellt */
  color: #FFEAC9;
  text-transform: capitalize;
  font-size: 3rem;
}

.menu-description{
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  max-width: 410px;
  margin-top: 10px;
  text-align: center;
}

/* Stilen för den andra p-taggen (ingredienser) */
.menu-description p:nth-of-type(2) {
  font-size: 12px; /* Större textstorlek för ingredienser */
  color: #555; /* En annan färg för ingredienser */
  font-style: italic; /* Gör ingredienserna kursiva */
  margin-top: 10px; /* Lite avstånd över ingredienserna */
}

.menu-diet-info {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  
}

.menu-diet-info .lactose-free {
  color: red; /* Laktosfritt */
}

.menu-diet-info .gluten-free {
  color: green; /* Glutenfritt */
}

.menu-centered-container {
  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Centrerar vertikalt */
  margin-bottom: 20px;
}


.menu-button-container {
  display: flex; 
  justify-content: center;
  padding: 0px;
}



.menu-add-to-order-button{
  background-color: #0881A3;
  border: none; 
  outline: none; 
  padding: 1rem;
  margin: 10;
  color: #fff;
}


.favorite-button {
  visibility: hidden;
}

.menu-favorite-button {
visibility: hidden;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Skapar två kolumner */
  gap: 50px;
  padding: 0;   /* Tar bort paddingen */
  margin: 0;    /* Tar bort eventuell margin */
  max-width: 900px;  /* Begränsar max bredd */
  margin-left: auto;  /* Centrerar horisontellt */
  margin-right: auto; /* Centrerar horisontellt */
  padding-bottom: 30px; /* Lägger till lite bottenpadding om du vill ha det */
}


.menu-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFEAC9;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px; 

}